
<div class="partner-site-content">
	PARTNER SITE CONTENT
</div>

<iframe class="iframe-wrapper" src="https://ag-shopify-buybutton-demo.mindmakerlabs.com/?referrerId=StarFox64"></iframe>


<style>
	.iframe-wrapper {
	  position: relative;
	  width: 100%;
	  height: calc(100vh - 70px);
	}

	.iframe-wrapper iframe {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  border: none;
	}

	.partner-site-content {
		height: 40px;
		width: 100%;
		background-color: #ad00ff;
		margin-bottom: 5px;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

</style>
